<mat-card *ngIf="userData.data" class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="userData.data.first_name || userData.data.last_name"
      >{{ userData.data.first_name || "" }}
      {{ userData.data.last_name || "" }}</mat-card-title
    >
    <mat-card-subtitle *ngIf="userData.data.email">{{
      userData.data.email
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    *ngIf="userData.data.avatar"
    mat-card-image
    [src]="userData.data.avatar"
  />
  <mat-card-content *ngIf="resources$ | async">
    Show resources:
    <input type="checkbox" [(ngModel)]="showResources" />

    <ng-container *ngIf="showResources">
      <ul>
        <li *ngFor="let res of resources$ | async">{{ res.name }}</li>
      </ul>
      <span>Number of resources: {{ (resources$ | async)?.length }}</span>
    </ng-container>
  </mat-card-content>
</mat-card>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
